html {
height: 100%;
width: 100%;

}

header {
    border:0px solid black;
    width: 99%; /*на весь экран*/
    min-height: 16px; /*50 пикселей */
    margin-top: 0px;
    top: 0;
    position: fixed;
}

.headera{
    width:160px;
    height:30px;
    margin-left:1080px;
    border-radius:5px;
    font-family: 'CoFo Sans', sans-serif;
    font-size:14px;
    background-color:#007bfb;
    color: white;
    border: none;
    border-radius:8px;
    text-decoration: none;
}

.dec{

    text-decoration: none;
    color: black;
    margin-top: 100px;

}

.searchservice{
    border-radius:5px;
    font-family: 'CoFo Sans', sans-serif;
    font-size:14px;


}

.searchservice h5{
    border-radius:5px;
    font-family: 'CoFo Sans', sans-serif;
    font-size:14px;

}





.addfeedback {
    text-decoration: none;

}


.addfeedback h5 {
    width:150px;
    height:25px;
    color:white;
    background-color:#007bfb;
    font-family: 'CoFo Sans', sans-serif;
    border-radius:5px;
    text-decoration: none;
    margin-left:98px;
    margin-top:29px;

}


.titletext{
    font-family: 'CoFo Sans', sans-serif;
     font-size:18px;
}

#line{ /* ЛИНИЯ ПОСЛЕ Header*/
    height:11px;
    width:100%;
    border-bottom: 1px solid #e6f1fc;
    padding-left:10px;
    position: fixed;

}

#line2 {
    height:440px;
    width:75%;
    border-bottom: 1px solid gray;
    padding-left:10px

}

#attention{
    font-family: 'CoFo Sans', sans-serif;
    font-size:14px;
    height: 157px;
    width: 141px;
    border: 0px solid gray;
    margin-left:273px;
    margin-top:24px;
    border-radius:8px;
    box-shadow: 3px 3px 3px gray;
}

/* Страница "Авторизация" */
.form-input {
    font-family: 'CoFo Sans', sans-serif;
    width: 300px;
    font-size: 16px;
    border-radius:6px;
    margin-left:360px;
}


#attention a{
    font-family: 'CoFo Sans', sans-serif;
    text-decoration: none;
    color: black;
}

#verification{
    font-family: 'CoFo Sans', sans-serif;
    font-size:14px;
    height: 169px;
    width: 141px;
    border: 0px solid gray;
    margin-left:473px;
    margin-top:-185px;
    border-radius:8px;
    box-shadow: 3px 3px 3px gray;
}

#verification a{
    font-family: 'CoFo Sans', sans-serif;
    text-decoration: none;
    color: black;

}

#dicpatching{
    font-family: 'CoFo Sans', sans-serif;
    font-size:14px;
    height: 169px;
    width: 141px;
    border: 0px solid gray;
    margin-left:679px;
    margin-top:-185px;
    border-radius:8px;
    box-shadow: 3px 3px 3px gray;
}

#dicpatching a{
    font-family: 'CoFo Sans', sans-serif;
    text-decoration: none;
    color: black;
}

.info {
    font-family: 'CoFo Sans', sans-serif;
    font-size:15px;
    height: 700px;
    width: 397px;
    border: 0px solid gray;
    margin-left:863px;
    margin-top:-185px;
    border-radius:8px;
    box-shadow: 3px 3px 3px gray;

}


/*SIDENAV*/
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #f7f9fe;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
   font-family: 'CoFo Sans', sans-serif;

    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: black;
    background-color: #e6f1fc;
    border; 1px;
    border:0px solid black;
    border-radius: 5px

}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.samolet {
width: 80%;
text-decoration: none;

}

.iconbar {
font-size: 12px;
padding-bottom: -63px;
height: 24px;



}

.newsphoto{
    width: 100%;
    border-radius: 5px;
}

/* Страница авторизации */
.photologin{
    border-radius: 8px;
    height: 550px;
    width: 1017px;
    margin-left: 250px;
    padding-top: 25px;
}

.btnauth{
    background-color:#007bfb;
    color: white;
    border: none;
    border-radius:8px;
    font-family: 'CoFo Sans', sans-serif;
    font-size: 19px;
    width:90px;
    text-align: center;
}

.formauth{

    padding-left:60px;

}

/* Страница "Оборудование" */

.systems{
    float: center;
    cursor: pointer;
    background-color:#007bfb;
    color: white;
    text-align: center;
    border: none;
    border-radius:15px;
    height: 190px;
    width: 250px;
    margin-left:270px;
    font-family: 'CoFo Sans', sans-serif;
    position: relative;
}

.btnaddequipment{
    text-decoration: none;
    color: white;
    border: 2.5px solid white;
    border-radius:4px;
    font-family: 'CoFo Sans', sans-serif;
    font-size: 18px;
    width:90px;
    text-align: center;
}


.btnaddequipment:hover{
    text-decoration: none;
    background-color:white;
    color: #007bfb;
    border: 2.5px solid white;
    border-radius:4px;
    font-family: 'CoFo Sans', sans-serif;
    font-size: 19px;
    width:90px;
    text-align: center;
    transition: all 600ms ease;
}


/*Страница "Обратная связь" */
.imgfeedback{
    width:600px;
    padding-left:300px;

}


.add{
    height:800px;
    align:center;
    margin-top:10px;
    margin-left:460px;
    width:100%;
}

.form-label{
    font-family: 'CoFo Sans', sans-serif;
     margin-left:26px;

}


