
{% load static %}
{% block main %}
<title>{{ title }}</title>
<link rel="stylesheet" href="{% static 'css/main.css' %}"> <!--Добавление стиля-->
 <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/icon.png' %}"> <!--Добавление иконки-->
<h1 class="titletext" align="center">Авторизация</h1>
<img class="photologin" align="center" src="{% static 'images/info.jpg' %}">

<div class="form-input">
    <form method="post" class="formauth">
        {% csrf_token %}
        {{ form.as_p }}

            <button type="submit" class="btnauth">Войти</button>
        <a href="#" style="text-decoration: none;">Забыли пароль</a>

    </form>
</div>
    {% endblock %}