{% extends 'main.html' %}
{% load static %}
{% block main %}
<title>{{title}}</title>

<h1 class="titletext" align="center">Проишествия на объекте</h1>

{% for e in emergency %}
<div class="container">
    <div class="emergency">
        <h3>Адрес: {{ e.address }}</h3>
        Дата:{{ e.date }}<br>
        Время:{{ e.times }}<br>

        Оборудование: {{ e.equipment }}<br>
        Критичность: {{ e.danger_level }}<br>
        Тип проишествия: {{ e.types_incidents }}<br>
        Анализ прошествия: {{ e.title }}<br>
        Статус: {{ e.status_condition }}<br><br>
        <a href="#" class="btnaddequipment">Удалить</a>
         <a href="#" class="btnaddequipment">Редактировать</a>
    </div>

    <a href="{% url 'add_emergency' %}"class="btnaddemergency2">Добавить проишествие</a>
</div>
{% endfor %}
{% endblock %}