{% extends 'main.html' %}
{% load static %}
{% block main %}
<title>{{title}}</title>
<h1 class="titletext" align="center">Добавить задачу</h1>
<div class="add">

    <div id="add">
        <h3 align="center">{{ post }}</h3>
        <form action="{% url 'add_tasks' %}" method="post">
            <!--перенаправление url '' означает к какой форме мы должны обратиться -->
            {% csrf_token %} <!-- Защита формы от csrf атак, дублирующих сайтов, сопоставлением токенов -->
            <div class="form-error">{{ form.non_field_errors }}</div>

            {% for f in form %}
            <p><label class="formadd" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
            <button class="btnfeedback" type="submit">Добавить</button>
            <br>
        </form>
        Задачи:{% for tasks in tasks %}<br>
        {{ tasks.tasks }}
        {% endfor %}

    </div>
</div>


{% endblock %}