{% extends 'main.html' %}
{% load static %}
{% block main %}
<title>{{title}}</title>
<h1 class="titletext" align="center">Оборудование</h1>
{% for sys in systems %}
<a href="#">
    <div class="container">
        <div class="systems">
</a>
<h2> {{ sys.system_name}}</h2>
<h4> Полное название: {{ sys.full_name}}</h4>
<h4>Обслуживающая компания: {{ sys.service_company}}</h4>
<h4><a href="add_list/{{ sys.id}}">Список:</a></h4>
<a href="{% url 'list_equipments' %}" class="btnaddequipment">Список оборудования</a>
</div>
</div>

{% endfor %}
<a href="{% url 'add_equipments' %}" class="btnaddequipment">Добавить оборудование</a><br><br>
{% endblock %}
