{% extends 'main.html' %}
{% load static %}
{% block main %}
<title>{{title}}</title>
<h1 class="titletext" align="center">Оборудование</h1>

<div class="row">
{% for list in list %}
    <div class="col-md-4 product-men">
        <h2> {{ list.system_name}}</h2>
        <img src = "{{list.image.url}}" class="systems_icon">
        <h4> Полное название: {{ list.full_name}}</h4>
        <h4>Обслуживающая компания: {{ list.service_company}}</h4>

        <h4>Локация: {{ list.location}}</h4>
        <a href="{{list.url}}" class="viewing">Перейти к списку оборудования {{ list.system_name}} </a><br>
    </div><br>

{% endfor %}
{% endblock %}