{% load static %}

<title>{{ title }}</title>
<html lang="en">
<head>

    <title>Главная страница</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/main.css' %}"> <!--Добавление стиля-->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/icon.png' %}"> <!--Добавление иконки-->
    <script src="{% static 'js/main.js' %}"></script>

    <header>
        <div class="users">
            <div id="line2"></div>
            <div id="line3"></div>

            <a href="/login"><h5 class="auth"></h5></a>
            <a href="#"><img class="imgmessageicon" src="{% static 'images/message.png' %}" title="Оповещения"></a>

            <div class="dropdown">

                <a href="{% url 'add_tasks' %}">
                    <button class="dropbtn"> Задачи</button>
                </a>
                <div class="dropdown-content">
                    <img class="iconbar" src="{% static 'images/icon.png' %}"><br>
                    {% for t in tasks %}
                    {{ forloop.counter }}:{{t.tasks}}<br>Сроки:{{t.datetime|date:"d.m.Y H:i" }}<br>
                    Срочность:{{t.urgency_task }}<br>
                    <input type="checkbox"><label>Выполнено(BETA)</label><br><br>

                    {% endfor %}
                </div>
            </div>
        </div>
    </header>
    <br><br><br>


    {% block main %}
    <div class="home">

        <div class="water"><h2>Контроль систем</h2>
            <a href="#"> <h2><img class="iconbar" src="{% static 'images/itp_KQCfYMt.png' %}"> ИТП</a> <img class="iconbar"
                                                                                           src="{% static 'images/EQUIPMENT.png' %}">
                ВК <img class="iconbar" src="{% static 'images/water.png' %}"> ОВ</h2>
            <div id="attention">
                <h1 align="left">0</h1>
                <h4>АВАРИЙ</h4><br>
                <a href="#"><h5>Посмотреть</h5></a>
            </div>


            <div id="verification">
                <h1 align="left">3</h1>
                <h4>Прибора УУТЭ</h4>
                <H4>Требуется поверка</H4>
                <a href="#"><h5>Посмотреть</h5></a>
            </div>


            <div id="dicpatching">
                <h1 align="left">1</h1>
                <h4>Низкая температура ГВС</h4><br>

                <a href="#"><h5>Посмотреть</h5></a>
            </div>
        </div>

        <div class="water"><h2 align="left"><img class="iconbar" src="{% static 'images/elevator.png' %}"> Лифты</h2>
            <div id="attention">
                <h1 align="left">0</h1>
                <h4>АВАРИЙ</h4><br>
                <a href="#"><h5>Посмотреть</h5></a>
            </div>


            <div id="verification">
                <h1 align="left">1</h1>
                <h4>Лифтов в простое</h4><br>

                <a href="#"><h5>Посмотреть</h5></a>
            </div>


            <div id="dicpatching">
                <h1 align="left">40</h1>
                <h4>Требуется проведение периодического освидетельствования</h4>

                <a href="#"><h5>Посмотреть</h5></a>
            </div>
        </div>


        <div class="water"><h2 align="left"><img class="iconbar" src="{% static 'images/electro.png' %}">ЭОМ</h2>
            <div id="attention">
                <h1 align="left">0</h1>
                <h4>АВАРИЙ</h4><br>
                <a href="#"><h5>Посмотреть</h5></a>
            </div>


            <div id="verification">
                <h1 align="left">40</h1>
                <h4>Поверка СИЗ</h4><br>

                <a href="#"><h5>Посмотреть</h5></a>
            </div>


            <div id="dicpatching">
                <h1 align="left">40 ВРУ</h1>
                <h4>Требуется проведение проверки электролаборатории</h4>

                <a href="#"><h5>Посмотреть</h5></a>
            </div>
        </div>


        <div class="info">

            <h3 align="center">Информация о системе s.engineer</h3>
            <img class="newsphoto" src="{% static 'images/info.jpg' %}"><br><br>
            <div class="informations"><h2><img class="iconbar2" src="{% static 'images/icon.png' %}">S.ENGINEER - сервис
                для настоящих инженеров </h2></div>
            <h4>Веб-сервис s.engineer, предназначен для контроля работы инженерных систем и выполнениия
                ремонтных работ на объекте. Данное приложение включает огромный набор инструментов для работы:<br>
                <img class="iconbar" src="{% static 'images/EQUIPMENT.png' %}"> Работа с инженерными системами<br>
                <img class="iconbar" src="{% static 'images/attention.png' %}"> Контроль и фиксация аварий и
                неисправностей<br>
                <img class="iconbar" src="{% static 'images/sale.png' %}"> Планировать закупку оборудования<br>
                <img class="iconbar" src="{% static 'images/documents.png' %}"> Регистрировать задачи в системе<br>
                <img class="iconbar" src="{% static 'images/forum.png' %}"> Инженерный форум обсуждений<br>
                <img class="iconbar" src="{% static 'images/dispatching.png' %}"> Получение и вывод параметров работы
                инженерного оборудования (при наличии диспетчеризации)<br></h4>
            <a href="http://127.0.0.1:8000/knowledge_base/manual" class="addfeedback"><h5 align="center">Инструкция по работе с сервисом</h5>
            </a>
            <a href="{% url 'feedback' %}" class="addfeedback"><h5 align="center">Добавить обратную связь</h5></a>
        </div>
    </div>
    {% endblock %}

    <!-- Side navigation -->
    <div class="sidenav">
        <img src="{% static 'images/samicon.png' %} " class="samolet" align="center">
        <a href="{% url 'main' %}"><img class="iconbar" src="{% static 'images/Home.png' %}"> Главная</a><br>
        <a href="{% url 'equipments' %}"><img class="iconbar" src="{% static 'images/EQUIPMENT.png' %}">
            Инженерные системы</a><br>
        <a href="{% url 'purchase_list' %}"><img class="iconbar" src="{% static 'images/sale.png' %}">Закупки и
            услуги</a><br>

        <a href="{% url 'service_home_page' %}" class="dropdown"><img class="iconbar"
                                                                      src="{% static 'images/service.png' %}">
            Сервис</a><br>
        <a href="{% url 'service_company' %}"><img class="iconbar" src="{% static 'images/KA.png' %}"> Сервисные
            КА</a><br>

        <!--        <ul>-->
        <!--             <a href="#"><span>Техническое обслуживание</span></a><br>-->
        <!--             <a href="#"><span>Календарь ТО</span></a><br>-->
        <!--             <a href="#"><span>Работы по наряду</span></a><br>-->
        <!--             <a href="#"><span>Подготовка систем к ОЗП</span></a>-->
        <!--         </ul>-->
        <a href="{% url 'defect_list' %}"><img class="iconbar" src="{% static 'images/attention.png' %}">
            Неисправности </a><br>
        <a href="{% url 'emergency' %}"><img class="iconbar" src="{% static 'images/incidents.png' %}">
            Проишествия</a><br>
        <!--<a href="#"><img class="iconbar" src="{% static 'images/systems.png' %}"> Инженерные системы</a><br>-->
        <a href="{% url 'dispatching' %}"><img class="iconbar" src="{% static 'images/dispatching.png' %}">
            Диспетчеризация</a><br>
        <!--<a href="#"><img class="iconbar" src="{% static 'images/analitic.png' %}"> Отчеты</a><br> -->
        <a href="{% url 'knowledge_base' %}"><img class="iconbar" src="{% static 'images/standart.png' %}">База знаний
            ИС</a><br>
        <!--        <a href="{% url 'article_list' %}"><img class="iconbar" src="{% static 'images/documents.png' %}"> Техническая-->
        <!--            литература</a><br>-->

        <a href="#"><img class="iconbar" src="{% static 'images/forum.png' %}"> Форум</a><br>
        <a href="/admin"><img class="iconbar" src="{% static 'images/admin.png' %}"> Управление сервисом</a><br>

    </div>

</head>
<body>

</body>
</html>
