{% load static %}

<title>{{ title }}</title>
<html lang="en">
<head>

    <title>Главная страница</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/main.css' %}"> <!--Добавление стиля-->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/icon.png' %}"> <!--Добавление иконки-->
    <script src="{% static 'js/main.js' %}"></script>

    <header>
        <a href="/login" class="dec"><h5 align="center" class="headera">Вход в систему</h5></a>
    </header>
    <br><br>


    <div id="line"></div>
    {% block main %}

    <div></div>
    <div id="attention">
        <h1 align="left">0</h1>
        <h4>АВАРИЙ</h4><br>
        <a href="#"><h5>Посмотреть</h5></a>
    </div>


    <div id="verification">
        <h1 align="left">3</h1>
        <h4>Прибора УУТЭ</h4>
        <H4>Требуется поверка</H4>
        <a href="#"><h5>Посмотреть</h5></a>
    </div>


    <div id="dicpatching">
        <h1 align="left">1</h1>
        <h4>Низкая температура ГВС</h4><br>

        <a href="#"><h5>Посмотреть</h5></a>
    </div>

    <div class="info">

        <h3 align="center">Информация о системе s.engineer</h3>
        <img class="newsphoto" src="{% static 'images/itp.jpg' %}">

        <h4>Веб-сервис s.engineer, предназначен для контроля работы инженерных систем и выполнениия
            ремонтных работ на объекте. Данное приложение включает огромный набор инструментов для работы:<br>
            <img class="iconbar" src="{% static 'images/EQUIPMENT.png' %}"> Добавление оборудования<br>
            <img class="iconbar" src="{% static 'images/attention.png' %}"> Контроль и фиксация аварий<br>
            <img class="iconbar" src="{% static 'images/analitic.png' %}"> Аналитика полученных данных<br>
            <img class="iconbar" src="{% static 'images/documents.png' %}"> Удобный просмотр рабочей документации<br>
            <img class="iconbar" src="{% static 'images/forum.png' %}"> Форум для обсуждения<br>
            <img class="iconbar" src="{% static 'images/dispatching.png' %}"> Получение и вывод параметров работы
            инженерного оборудования (при наличии диспетчеризации)<br></h4>

        <a href="{% url 'feedback' %}" class="addfeedback"><h5 align="center">Написать отзыв</h5></a>


    </div>
    {% endblock %}

    <!-- Side navigation -->
    <div class="sidenav">
        <a href="{% url 'main' %}"><img src="{% static 'images/samicon.png' %} " class="samolet" align="center"></a>
        <a href="{% url 'main' %}"><img class="iconbar" src="{% static 'images/Home.png' %}"> Главная</a><br>
        <a href="{% url 'equipments' %}"><img class="iconbar" src="{% static 'images/EQUIPMENT.png' %}">
            Оборудование</a><br>
        <a href="#" class="dropdown"><img class="iconbar" src="{% static 'images/service.png' %}"> Сервис центр</a><br>

        <!-- <ul>
             <a href="#"><span>Техническое обслуживание</span></a><br>
             <a href="#"><span>Календарь ТО</span></a><br>
             <a href="#"><span>Работы по наряду</span></a><br>
             <a href="#"><span>Подготовка систем к ОЗП</span></a>
         </ul> -->
        <a href="{% url 'emergency' %}"><img class="iconbar" src="{% static 'images/attention.png' %}"> Проишествия</a><br>
        <!--<a href="#"><img class="iconbar" src="{% static 'images/systems.png' %}"> Инженерные системы</a><br>-->
        <a href="{% url 'dispatching' %}"><img class="iconbar" src="{% static 'images/dispatching.png' %}"> Диспетчеризация</a><br>
        <a href="#"><img class="iconbar" src="{% static 'images/analitic.png' %}"> Аналитика</a><br>
        <a href="{% url 'documentation' %}"><img class="iconbar" src="{% static 'images/documents.png' %}"> Рабочая документация</a><br>
        <a href="#"><img class="iconbar" src="{% static 'images/forum.png' %}"> Блог</a><br>
        <a href="/admin"><img class="iconbar" src="{% static 'images/dispatching.png' %}"> Админ панель</a><br>

    </div>

</head>
<body>

</body>
</html>
