{% extends 'main.html' %}
{% load static %}
{% block main %}

<title>{{title}}</title>
<h1 class="titletext" align="center">Обратная связь</h1>
<div><h5 align="center">Напишите свои пожелания по улучшению веб-сервиса s.engineer</h5></div>
<div class="add">
    <img class="imgfeedback" src="{% static 'img/feedback.jpg' %}" class="homephoto2" align="center">
    <h1 align="center">{{ post }}</h1>
    <form action="{% url 'feedback' %}" method="post">
        {% csrf_token %}
        {% for f in feedback %}
        <div class="">{{ f.non_field_errors }}</div>

        <h4><label class="form-label" for="{{ f.id_for_label }}"> {{f.label}}: </label>{{ f }}</h4>
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}

        <button type="submit">Отправить отзыв</button>
        <br>
    </form>
</div>


{% endblock %}