{% extends 'main.html' %}
{% load static %}
{% block main %}
<title>{{title}}</title>
<h1 class="titletext" align="center">Закупки</h1>

<div class="add">
<a href="{% url 'purchase_list' %}" id="">Перейти в список закупок</a>
    <div id="add">
        <h3 align="center">{{ post }}</h3>
        <form action="{% url 'add_purchase' %}" method="post">
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>

            {% for f in form %}
            <p><label class="formadd" for="{{ form.id_for_label }}">{{f.label}} </label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
            <button class="btnaddpurchase" type="submit">Добавить в список закупок</button><br>

            <br>
        </form>
    </div>
</div>
{% endblock %}
