{% extends 'main.html' %}
{% load static %}
{% block main %}
<h1 class="titletext" align="center">Список закупок</h1>
<h4 class="btnaddemergency2">Количество необходимых закупок: {{ list|length }}</h4>
<h4 class="btnaddemergency2">Общая сумма: {{ list|length }} RUB</h4>
<div id="purchaselist">
    {% for list in list %}

    <h5 align="left">{{ forloop.counter }} : {{ list }}</h5>
    <h5 align="left">Система: {{ list.system }}</h5>
    <h5 align="left">Адрес: {{ list.address }}</h5>
    <h5 align="left">Цена: {{ list.price }} RUB</h5>
    <h5 align="left">Статус: {{ list.status }}</h5><hr>
    {% endfor %}
</div>

{% endblock %}