{% extends 'main.html' %}
{% load static %}
{% block main %}

<h1 class="titletext" align="center">Диспетчеризация оборудования</h1>
<h2 class="titletext" align="center">Данное отображение является статистическим, без
обновлений данных, получение возможно только при поключении диспетчеризации</h2>

<div class="dispatchinghome">
    <table border="1">
        <thead>
        <tr>
            <th>Адрес и номер ИТП</th>
            <th>Т1(Т/С ПОДАЧА)</th>
            <th>Т2(Т/С ОБРАТНАЯ)</th>
            <th>P1</th>
            <th>P2</th>
            <th>Т11</th>
            <th>Т21</th>
            <th>P11</th>
            <th>P21</th>
            <th>Т3</th>
            <th>Т4</th>
            <th>P3</th>
            <th>P4</th>
            <th>P20</th>
            <th>Т20</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Омская, 1 / 08-10-250</td>
            <td>130 С°</td>
            <td>70 С°</td>
            <td>8.0 кг/см2</td>
            <td>5.5 кг/см2</td>
            <td>95 С°</td>
            <td>70 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>62 С°</td>
            <td>54 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>8.0 кг/см2</td>
            <td>5 С°</td>

        </tr>
        <tr>
            <td>Омская, 2 / 08-10-251</td>
            <td>130 С°</td>
            <td>70 С°</td>
             <td>8.0 кг/см2</td>
            <td>5.5 кг/см2</td>
            <td>95 С°</td>
            <td>70 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>62 С°</td>
            <td>54 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>8.0 кг/см2</td>
            <td>5 С°</td>

        </tr>
        <tr>
            <td>Омская, 3 / 08-10-253</td>
            <td>130 С°</td>
            <td>70 С°</td>
             <td>8.0 кг/см2</td>
            <td>5.5 кг/см2</td>
            <td>95 С°</td>
            <td>70 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>62 С°</td>
            <td>54 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>8.0 кг/см2</td>
            <td>5 С°</td>

        </tr>
        </tbody>
    </table>
</div>


{% endblock %}