{% extends 'main.html' %}
{% load static %}
{% block main %}
<title>{{title}}</title>

<h1 class="titletext" align="center">Диспетчеризация</h1>
<h2 class="titletext" align="center">! Отображение является статистическим, без
обновлений данных, получение возможно только при поключении диспетчеризации !</h2>

<div class="dispatchinghome">
    <table border="1">
        <thead>

            <th>Адрес и номер ИТП</th>
            <th style="color:red">Т1<br><hr>Т/С ПОДАЧА</th>
            <th>Т2<br><hr>Т/С ОБРАТКА</th>
            <th style="color:red">P1<br><hr>Т/С ПОДАЧА</th>
            <th>P2<br><hr>Т/С ОБРАТКА</th>
            <th style="color:red">Т11<br><hr>ЦО ПОДАЧА</th>
            <th>Т21<br><hr>ЦО ОБРАТКА</th>
            <th style="color:red">P11<br><hr>ЦО ПОДАЧА</th>
            <th>P21<br><hr>ЦО ОБРАТКА</th>
            <th style="color:red">Т3<br><hr>ГВС ПОДАЧА</th>
            <th>Т4<br><hr>ГВС ОБРАТКА</th>
            <th style="color:red">P3<br><hr>ГВС ПОДАЧА</th>
            <th>P4<br><hr>ГВС ОБРАТКА</th>
            <th style="color:red">P20<br><hr>ХВС ПОДАЧА</th>
            <th style="color:red">Т20<br><hr>ХВС ПОДАЧА</th>
            <th style="color:green">Сигнал<br><hr>Датчик затопления</th>
            <th>Тнв<br><hr>Наружный воздух</th>
        </thead>
        <tbody>
        <tr>
            <td>г.Москва, пос.Внуковское, Омская, 1 /08-10-250</td>
            <td>130 С°</td>
            <td>70 С°</td>
            <td>8.0 кг/см2</td>
            <td>5.5 кг/см2</td>
            <td>95 С°</td>
            <td>70 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>62 С°</td>
            <td>54 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>8.0 кг/см2</td>
            <td>5 С°</td>
            <td>Норма</td>
            <td>-25</td>

        </tr>
        <tr>
            <td>г.Москва, пос.Внуковское, Омская, 2 / 08-10-251</td>
            <td>130 С°</td>
            <td>70 С°</td>
             <td style="color:red">P авария</td>
            <td>5.5 кг/см2</td>
            <td>95 С°</td>
            <td>70 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>62 С°</td>
            <td>54 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>8.0 кг/см2</td>
            <td>5 С°</td>
            <td style="color:red">Залитие</td>
            <td>-25</td>
        </tr>

        <tr>
            <td>г.Москва, пос.Внуковское, Омская, 3 / 08-10-253</td>
            <td>130 С°</td>
            <td>70 С°</td>
             <td>8.0 кг/см2</td>
            <td>5.5 кг/см2</td>
            <td>95 С°</td>
            <td>70 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>62 С°</td>
            <td>54 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>8.0 кг/см2</td>
            <td>5 С°</td>
            <td>Норма</td>
            <td>-25</td>

        </tr>
         <tr>
            <td>г.Москва, пос.Внуковское, Омская, 4 / 08-10-250</td>
            <td>130 С°</td>
            <td>70 С°</td>
            <td>8.0 кг/см2</td>
            <td>5.5 кг/см2</td>
            <td>95 С°</td>
            <td>70 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>62 С°</td>
            <td>54 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>8.0 кг/см2</td>
            <td>5 С°</td>
             <td>Норма</td>
             <td>-25</td>

        </tr>
        <tr>
            <td>г.Москва, пос.Внуковское, Омская, 5 / 08-10-251</td>
            <td>130 С°</td>
            <td>70 С°</td>
             <td>8.0 кг/см2</td>
            <td>5.5 кг/см2</td>
            <td>95 С°</td>
            <td>70 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>62 С°</td>
            <td>54 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>8.0 кг/см2</td>
            <td>5 С°</td>
            <td>Норма</td>
            <td>-25</td>
        </tr>
         <tr>
            <td>г.Москва, пос.Внуковское, Омская, 6 / 08-10-250</td>
            <td>130 С°</td>
            <td>70 С°</td>
            <td>8.0 кг/см2</td>
            <td>5.5 кг/см2</td>
            <td>95 С°</td>
            <td>70 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>62 С°</td>
            <td>54 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>8.0 кг/см2</td>
            <td>5 С°</td>
             <td>Норма</td>
             <td>-25</td>

        </tr>
        <tr>
            <td>г.Москва, пос.Внуковское, Омская, 8 / 08-10-251</td>
            <td>130 С°</td>
            <td>70 С°</td>
             <td>8.0 кг/см2</td>
            <td>5.5 кг/см2</td>
            <td>95 С°</td>
            <td>70 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>62 С°</td>
            <td>54 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>8.0 кг/см2</td>
            <td>5 С°</td>
            <td>Норма</td>
            <td>-25</td>
        </tr>

        <tr>
            <td>г.Москва, пос.Внуковское, Омская, 9 / 08-10-253</td>
            <td>130 С°</td>
            <td>70 С°</td>
             <td>8.0 кг/см2</td>
            <td>5.5 кг/см2</td>
            <td>95 С°</td>
            <td>70 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>62 С°</td>
            <td>54 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>8.0 кг/см2</td>
            <td>5 С°</td>
            <td>Норма</td>
            <td>-25</td>

        </tr>
         <tr>
            <td>г.Москва, пос.Внуковское, Омская, 10 / 08-10-250</td>
            <td>130 С°</td>
            <td>70 С°</td>
            <td>8.0 кг/см2</td>
            <td>5.5 кг/см2</td>
            <td>95 С°</td>
            <td>70 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>62 С°</td>
            <td>54 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>8.0 кг/см2</td>
            <td>5 С°</td>
             <td>Норма</td>
             <td>-25</td>

        </tr>
        <tr>
            <td>г.Москва, пос.Внуковское, Омская, 14к1 / 08-10-251</td>
            <td>130 С°</td>
            <td>70 С°</td>
             <td>8.0 кг/см2</td>
            <td>5.5 кг/см2</td>
            <td>95 С°</td>
            <td>70 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>62 С°</td>
            <td>54 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>8.0 кг/см2</td>
            <td>5 С°</td>
            <td>Норма</td>
            <td>-25</td>
        </tr>

        <tr>
            <td>г.Москва, пос.Внуковское, Омская, 14к2 / 08-10-253</td>
            <td>130 С°</td>
            <td>70 С°</td>
             <td>8.0 кг/см2</td>
            <td>5.5 кг/см2</td>
            <td>95 С°</td>
            <td>70 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>62 С°</td>
            <td>54 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>8.0 кг/см2</td>
            <td>5 С°</td>
            <td>Норма</td>
            <td>-25</td>

        </tr>
         <tr>
            <td>г.Москва, пос.Внуковское, Омская, 14к3 / 08-10-250</td>
            <td>130 С°</td>
            <td>70 С°</td>
            <td>8.0 кг/см2</td>
            <td>5.5 кг/см2</td>
            <td>95 С°</td>
            <td>70 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>62 С°</td>
            <td>54 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>8.0 кг/см2</td>
            <td>5 С°</td>
             <td>Норма</td>
             <td>-25</td>

        </tr>
        <tr>
            <td>г.Москва, пос.Внуковское, Омская, 15 / 08-10-251</td>
            <td>130 С°</td>
            <td>70 С°</td>
             <td>8.0 кг/см2</td>
            <td>5.5 кг/см2</td>
            <td>95 С°</td>
            <td>70 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>62 С°</td>
            <td>54 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>8.0 кг/см2</td>
            <td>5 С°</td>
            <td>Норма</td>
            <td>-25</td>
        </tr>

        <tr>
            <td>г.Москва, пос.Внуковское, Омская, 16 / 08-10-253</td>
            <td>130 С°</td>
            <td>70 С°</td>
             <td>8.0 кг/см2</td>
            <td>5.5 кг/см2</td>
            <td>95 С°</td>
            <td>70 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>62 С°</td>
            <td>54 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>8.0 кг/см2</td>
            <td>5 С°</td>
            <td>Норма</td>
            <td>-25</td>

        </tr>
         <tr>
            <td>г.Москва, пос.Внуковское, Омская, 17 / 08-10-250</td>
            <td>130 С°</td>
            <td>70 С°</td>
            <td>8.0 кг/см2</td>
            <td>5.5 кг/см2</td>
            <td>95 С°</td>
            <td>70 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>62 С°</td>
            <td>54 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>8.0 кг/см2</td>
            <td>5 С°</td>
             <td>Норма</td>
             <td>-25</td>

        </tr>
        <tr>
            <td>г.Москва, пос.Внуковское, Омская, 18 / 08-10-251</td>
            <td>130 С°</td>
            <td>70 С°</td>
             <td>8.0 кг/см2</td>
            <td>5.5 кг/см2</td>
            <td>95 С°</td>
            <td>70 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>62 С°</td>
            <td>54 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>8.0 кг/см2</td>
            <td>5 С°</td>
            <td>Норма</td>
            <td>-25</td>
        </tr>

        <tr>
            <td>г.Москва, пос.Внуковское, Омская, 19 / 08-10-253</td>
            <td>130 С°</td>
            <td>70 С°</td>
             <td>8.0 кг/см2</td>
            <td>5.5 кг/см2</td>
            <td>95 С°</td>
            <td>70 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>62 С°</td>
            <td>54 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>8.0 кг/см2</td>
            <td>5 С°</td>
            <td>Норма</td>
            <td>-25</td>

        </tr>
         <tr>
            <td>г.Москва, пос.Внуковское, Омская, 20 / 08-10-250</td>
            <td>130 С°</td>
            <td>70 С°</td>
            <td>8.0 кг/см2</td>
            <td>5.5 кг/см2</td>
            <td>95 С°</td>
            <td>70 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>62 С°</td>
            <td>54 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>8.0 кг/см2</td>
            <td>5 С°</td>
             <td>Норма</td>
             <td>-25</td>

        </tr>
        <tr>
            <td>г.Москва, пос.Внуковское, Омская, 21 / 08-10-251</td>
            <td>130 С°</td>
            <td>70 С°</td>
             <td>8.0 кг/см2</td>
            <td>5.5 кг/см2</td>
            <td>95 С°</td>
            <td>70 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>62 С°</td>
            <td>54 С°</td>
            <td>8.0 кг/см2</td>
            <td>7.5 кг/см2</td>
            <td>8.0 кг/см2</td>
            <td>5 С°</td>
            <td>Норма</td>
            <td>-25</td>
        </tr>
        </tbody>
    </table>
</div>


{% endblock %}